{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <section class="row justify-content-center">
        <section class="col-xl-10">
            <section class="card">
                <header class="card-header">
                    <h3 class="d-inline-block card-header-title">
                        <i class="material-icons">
                            {{ form.vars.value.id_ad_buyback is not defined ? ' add_circle_outline' : 'edit' }}
                        </i>
                        {{ (form.vars.value.id_ad_buyback is not defined ? 'New buy back' : 'Edit buy back') | trans({}, 'Modules.Adbuyback.Admin') }}
                    </h3>
                </header>
                {{ form_start(form) }}
                <article class="card-block row">
                    <div class="card-text">
                        {% set flag_image = null %}
                        {% for key, field in form.children %}
                            {% if ('image-' not in key) %}
                                {{ form_row(field) }}
                            {% else %}
                                {% set flag_image = true %}
                            {% endif %}
                        {% endfor %}
                        {% if flag_image is not null %}
                            <h3 class="mt-5">
                                {{ 'Product images' | trans({}, 'Modules.Adbuyback.Form') }}
                            </h3>
                            <div class="row">
                                {% for key, field in form.children %}
                                    {% if ('image-' in key) %}
                                        {{ form_widget(field) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </article>
                <footer class="card-footer">
                    <div class="d-flex justify-content-between">
                        <a href="javascript: history.go(-1)" class="btn btn-secondary">
                            {{ 'Return' | trans({}, 'Modules.Adbuyback.Form') }}
                        </a>
                        <button class="btn btn-{{ form.vars.value.id_ad_buyback is not defined ? 'primary' : 'warning' }}">
                            {{ (form.vars.value.id_ad_buyback is not defined ? 'Save' : 'Edit') | trans({}, 'Modules.Adbuyback.Admin') }}
                        </button>
                    </div>
                </footer>
                {{ form_end(form) }}
            </section>
        </section>
    </section>
{% endblock %}
