<div class="ad-bb-admin-img-content col-sm-2 mt-3">
    <section class="form-group text-center">
        <article>
            <button class="ad-bb-img-preview-btn p-0 border-0 rounded w-100" type="button"
                    data-toggle="modal" data-target="#buyback-edit-view-modal"
            >
                <figure class="m-0">
                    <img class="img-thumbnail p-3 border-bottom-0" data-toggle="pstooltip" data-placement="top"
                         title="{{ 'Click for preview' | trans({}, 'Modules.Adbuyback.Admin') }}"
                         src="{{ path }}" alt="{{ filename }}.{{ extension }}"
                    >
                    <figcaption class="border rounded-bottom">
                        <h5 class="m-1">
                            {{ (filename | length < 23) ? filename : filename|slice(0, 15) ~ '...' }}
                        </h5>
                    </figcaption>
                </figure>
            </button>
        </article>
        <footer class="mt-3">
            <a class="btn btn-outline-warning btn-sm mr-1" data-toggle="pstooltip" data-placement="top"
               title="{{ 'Edit' | trans({}, 'Modules.Adbuyback.Form') }}"
               href="{{ url('admin_ad_buyback_image_edit', {'imageId': id}) }}">
                <i class="material-icons">edit</i>
            </a>
            <button class="btn btn-outline-danger btn-sm" type="submit" formmethod="POST" data-toggle="pstooltip" data-placement="top"
                    title="{{ 'Delete' | trans({}, 'Modules.Adbuyback.Form') }}"
                    formaction="{{ path('admin_ad_buyback_delete_image', {'imageId': id, 'filename': filename ~ '.' ~ extension}) }}"
            >
                <i class="material-icons">delete</i>
            </button>
        </footer>
    </section>
</div>
